<%= render 'headfoot/header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8">
      <h1>subBreinとして利用しよう！</h1><br>
      <p>記憶媒体サイト「ZZ」は学習した内容を補完する情報蓄積サイトです。</p><br>
      <p>様々な登録ユーザーの学習した内容を閲覧することができ、未知の分野にも出会えるかもしれません。</p>
    </div>

    <div class="col-xs-2">
    </div>
  </div>
  <%= render 'headfoot/footer' %>
</div>