<%= render 'headfoot/header' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
    </div>

    <div class="col-xs-8">
      <h1>HELLO,myBrein!</h1><br>
      <p>記憶媒体サイト「ZZ」のTOPページです。</p><br>
      <p>まずは新規登録をしてみましょう。</p>
    </div>

    <div class="col-xs-3">
    </div>
  </div>
  <%= render 'headfoot/footer' %>
</div>