<% if user_signed_in? %>
  <% if memo.favorited_by?(current_user) %>
    <%= link_to memo_favorites_path(memo), method: :delete, remote: true do %>
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
    <% end %>
  <% else %>
    <%= link_to memo_favorites_path(memo), method: :post, remote: true do %>
      <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: gray;"></span>
    <% end %>
  <% end %>
  <%= memo.favorites.count %> イイね！
<% end %>